<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--控制全局mybatis信息-->
    <!--<settings>
        &lt;!&ndash;开启日志&ndash;&gt;
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>-->

    <environments default="mydev">

        <environment id="mydev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/springdb"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>

    </environments>

    <!--sql映射文件的位置，从target/classes路径下开始-->
    <mappers>
        <mapper resource="com/bjpowernode/dao/StudentDao.xml" />
    </mappers>

</configuration>